body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

.container {
    width: 400px;
    margin: 100px auto;
    background: hsl(217, 53%, 38%);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    background: #139342;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
