<!DOCTYPE html>
<html>
<head>
    <title>Smart Phishing Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h2>Smart Phishing Detection System</h2>

        <form method="POST">
            <input type="text" name="url" placeholder="Enter URL" required>
            <button type="submit">Check</button>
        </form>

        {% if prediction %}
            <h3>{{ prediction }}</h3>
        {% endif %}
    </div>

</body>
</html>
